.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  flex-direction: column;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
}

.two-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  align-self: center;
  justify-content: space-between;
  align-items: baseline;
  margin: 50px 0;
}

.two-columns__brief {
  min-width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph:first-of-type {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-top: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* DIGITS */
.digits {
  display: flex;
  flex-direction: column;
}

.section__title {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 50px 0 0 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 20px 0 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  /* на всякий случай удалил стили списка */
  list-style: none;
  padding: 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 0 auto 100px;
  max-width: 1100px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.table__cell {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 0;
  width: 250px;
}

.table__heading {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.table__text {
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.table__text:nth-of-type(2) {
  margin: 20px 0 0 0;
}

/* FEYNMAN */
.feynman {
  /* height: 100vh; */
  min-height: 890px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  align-content: center;
}

.feynman__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 100px 0 0 0;
  max-width: 648px;
  height: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0 0;
}

.feynman__photo {
  display: flex;
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

.feynman__link {
  display: flex;
  position: absolute;
  margin: 0;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/* KAUFMAN */
.kaufman {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.section__title_theme_dark {
  color: white;
  margin: 90px 0 0 0;
  z-index: 1;
}

.section__subtitle_theme_dark {
  color: white;
  margin: 20px 0 0 0;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin: 80px 0 0 0;
}

.table__text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 877px 877px;
  background-repeat: no-repeat;
  background-position: top 0 right -210px;
}


/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  min-height: 250px;
  margin: 60px 0 40px 0;
}


.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  display: flex;
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  width: fit-content;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  align-items: flex-start;
}

.footer__column-heading {
  width: 100%;
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: white;
}
